@page
@model ESchoolRazor.Pages.Students.DetailsModel
@inject ESchoolRazor.SharedViewLocalizer Localizer
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Localizer.GetLocalizedString("Details")</h1>

<div>
    <hr />

    <div class="d-flex w-100 h-100 justify-content-center align-items-center">
        <div class="card w-100 border-0 shadow-sm">
            <div class="card-body">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-sm-3 col-md-3 col-lg-6">
                        @if(Model.Student.Photo != null){
                            <img src="data:image/jpg;base64,@(Convert.ToBase64String(Model.Student.Photo.Photo))" height="400px" width="400px"
                            alt="@Model.Student.Name" class="rounded-circle shadow-sm"
                            style="background-repeat: no-repeat; background-position: center; background-size: contain;object-fit:cover;" />
                        }else{
                            <img src="~/images/user.svg" height="400px" width="400px"
                            alt="@Model.Student.Name" class="rounded-circle shadow-sm"
                            style="background-repeat: no-repeat; background-position: center; background-size: contain;object-fit:cover;" />
                        }
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-6 justify-content-center align-items-center">
                        <div class="d-flex my-3">
                            <h5>@Html.DisplayNameFor(model => model.Student.Name) : </h5>
                            <h5 class="ml-4">@Html.DisplayFor(model => model.Student.Name)</h5>
                        </div>
                        <div class="d-flex my-3">
                            <h5>@Html.DisplayNameFor(model => model.Student.BirthDay) : </h5>
                            <h5 class="ml-4">@Html.DisplayFor(model => model.Student.BirthDay)</h5>
                        </div>
                        <div class="d-flex my-3">
                            <h5>@Html.DisplayNameFor(model => model.Student.PhoneNumber) : </h5>
                            <h5 class="ml-4">@Html.DisplayFor(model => model.Student.PhoneNumber)</h5>
                        </div>
                        <div class="d-flex my-3">
                            <h5>@Html.DisplayNameFor(model => model.Student.Email) : </h5>
                            <h5 class="ml-4">@Html.DisplayFor(model => model.Student.Email)</h5>
                        </div>
                        <div>
                            <a asp-page="./Edit" class="alert-link px-2" style="font-size: 22px;"
                                asp-route-id="@Model.Student.Id">@Localizer.GetLocalizedString("Edit")</a>
                            <span style="font-size: 22px;">|</span>
                            <a asp-page="./Index" class="alert-link px-2" style="font-size: 22px;">@Localizer.GetLocalizedString("Back To List")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
