@page
@model ESchoolRazor.Pages.Students.EditModel
@inject ESchoolRazor.SharedViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer.GetLocalizedString("Edit");
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Localizer.GetLocalizedString("Edit")</h1>

<hr />


<div class="container my-4">
    <div class="row w-100 h-100">
        <div class="col-md-6 w-100 d-flex align-items-center justify-content-center">
            <button type="button" id="upload_photo_btn" class="btn">
                @if(Model.Student.Photo != null){
                    <img id="avatar" src="data:image/jpg;base64,@(Convert.ToBase64String(Model.Student.Photo.Photo))" height="250px" width="250px"
                    alt="@Model.Student.Name" class="rounded-circle shadow-sm"
                    style="background-repeat: no-repeat; background-position: center; background-size: contain;object-fit:cover;" />
                }else{
                    <img id="avatar" src="~/images/user.svg" height="250px" width="250px"
                    alt="@Model.Student.Name" class="rounded-circle shadow-sm"
                    style="background-repeat: no-repeat; background-position: center; background-size: contain;object-fit:cover;" />
                }
            </button>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center">
        <form method="post" enctype="multipart/form-data" class="w-100">
            <input type="hidden" asp-for="Student.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <input asp-for="Student.Name" placeholder="Enter you name here..." class="form-control" />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.BirthDay" class="control-label"></label>
                <input asp-for="Student.BirthDay" class="form-control" />
                <span asp-validation-for="Student.BirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.PhoneNumber" class="control-label"></label>
                <input asp-for="Student.PhoneNumber" placeholder="Example : +(xxx)-xxx-xxx-xx-xx" class="form-control" />
                <span asp-validation-for="Student.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Email" class="control-label"></label>
                <input asp-for="Student.Email" placeholder="Enter your email here..." class="form-control" />
                <span asp-validation-for="Student.Email" class="text-danger"></span>
            </div>
            <div class="form-group" hidden id="upload_photo_form">
                <div class="custom-file">
                    <label asp-for="Photo"></label>
                    <input type="file" asp-for="Photo" class="form-control form-control-file" id="customFile">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value='@Localizer.GetLocalizedString("Create")' class="btn btn-block btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>

<div>
    <a asp-page="./Index">@Localizer.GetLocalizedString("Back To List")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
